<div class="content-btn">

  <ul class="button-list">
    <li class="button-adjust">
      <a class="waves-effect waves-light btn-large" id="btn-index" href="/windings/choose">
        <i class="material-icons right">border_color</i>Enrolamento</a>
    </li>
    <li class="button-adjust">
      <a class="waves-effect waves-light btn-large" id="btn-index" href="/windings">
        <i class="material-icons right">content_paste</i>Histórico</a>
    </li>
    <li class="button-adjust" >

      <a class="waves-effect waves-light btn-large" id="btn-index" href="/machine_settings">

        <i class="material-icons right">build</i>Configuração</a>
    </li>

  </ul>

</div>
