<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css"> </head>

<body>
  <div class="py-5 text-center opaque-overlay" style="background-image: url(/assets/images/filament_3.jpg);">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12 text-white">
          <h1 class="display-3 mb-4">Filament Winding X</h1>
          <p class="lead mb-5">A Solution for Aerospace Filament Winding&nbsp;
            <br>Developed by UnB</p>
          <a href="#" class="btn btn-lg mx-1 btn-secondary">Start Winding</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center display-3 text-primary">What is filament winding?</h1>
          <p class="">In aerospace industry is is necessary to create structural resistance in combustion chambers so it doesn't blows up. This structural resistance is created by winding cabon filaments in certain angles, so it has resistance in certain parts.&nbsp;This
            solution still only able to suport cilinder windings so lets get started.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="py-5 col-md-12">
      <div class="row">
        <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa-angle-double-up"></i></div>
        <div class="col-8">
          <h5 class="mb-3 text-primary"><b>First use configuration</b></h5>
          <p class="my-1">You must set up de configurations of your machine: When you obtain your machine you should connect with it the first time with the Ethernet cable, and then set up the wifi connection to the machine. After that you should configure the max lenght
            and max radius of you mandril. That information comes in your manual.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="py-5 col-md-12">
      <div class="row">
        <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa-map-o"></i></div>
        <div class="col-8">
          <h5 class="mb-3 text-primary"><b>Start winding</b></h5>
          <p class="my-1">After configuring your machine the first time you no longer need the cable, you just need to be in the same Wireless connection. Go to the winding option in the menu and choose whitch type of connection you want. Then enter the mandril information
            and the winding information. Don't forget to check your manual.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="py-5 col-md-12">
      <div class="row">
        <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa-file-o"></i></div>
        <div class="col-8">
          <h5 class="mb-3 text-primary"><b>Preview the winding</b></h5>
          <p class="my-1">After configuring your winding you may want to see how it looks like. Click the preview button and you'll be able to see it.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="py-5 col-md-12">
      <div class="row">
        <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa-code"></i></div>
        <div class="col-8">
          <h5 class="mb-3 text-primary"><b>Monitor the winding</b></h5>
          <p class="my-1">After starting your winding you'll be able to see the status and progress of the machines work. Besides that you can follow what is happening with the video streaming. Don't forget to check the temperature, it might indicate something that is
            happening.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="py-5 col-md-12">
      <div class="row">
        <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa-code"></i></div>
        <div class="col-8">
          <h5 class="mb-3 text-primary"><b>Enjoy</b></h5>
          <p class="my-1">Wait the process stop and you will see your winding done!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5"></div>
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row"> </div>
      <div class="row"> </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>

</html>
