<div class="content-btn">

  <ul class="button-list">
    <li class="button-adjust">
      <a class="waves-effect waves-light btn-large" id="btn-index">
        <i class="material-icons right">adjust</i>Cilindro</a>
    </li>
    <li class="button-adjust">
      <a class="waves-effect waves-light btn-large" id="btn-index" href="/windings">
        <i class="material-icons right">all_out</i>Cone</a>
    </li>
    <li class="button-adjust" >
      <a class="waves-effect waves-light btn-large" id="btn-index" href="/configurations">
        <i class="material-icons right">gesture</i>Forma complexa
      </a>
    </li>

  </ul>

</div>
