<div class="content-btn">

  <ul class="button-list">
    <li class="button-adjust">
      <a class="waves-effect waves-light btn-large" id="btn-index" href="/windings/new/Cilinder">
        <i class="material-icons right">all_out</i>Cilinder</a>
    </li>
    <li class="button-adjust">
      <a class="waves-effect waves-light btn-large" id="btn-index" disabled>
        <i class="material-icons right">adjust</i>Cone</a>
    </li>
    <li class="button-adjust" >
      <a class="waves-effect waves-light btn-large" id="btn-index" disabled>
        <i class="material-icons right">gesture</i>Complex Form</a>
    </li>

  </ul>
  <div id="back-btn">
  <%= link_to 'Back', conection_information_connect_path($current_connection.id) , :id => 'back-btn'%>
  </div>
</div>
