<div id="graph-container">
  <div id="length" data-length="<%=@winding.length%>"> </div>
  <div id="radius" data-radius="<%=@winding.radius%>"> </div>
  <canvas id="mandril">
  </canvas>
  <div class=button-container>
    <a class="waves-effect waves-light btn" href="/windings/Cylinder"><i class="material-icons left">cloud</i>button</a>
    <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
  </div>
</div>
