<%= javascript_include_tag('monitor.js') %>

<h1>
  Temperature:
<div id="temperature">
0
</div>
</h1>

http://www.raspberry-projects.com/pi/pi-hardware/raspberry-pi-camera/streaming-video-using-vlc-player
<br/>
<iframe src="192.168.25.12:8554" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe><a href="https://www.twitch.tv/tifubrasil?tt_content=text_link&tt_medium=live_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;">Assista ao vídeo ao vivo de TifuBrasil em www.twitch.tv</a>
