<h1>Editing Conection Information</h1>

<%= render 'form', conection_information: @conection_information %>

<div id="back-btn">
<%= link_to 'Back', conection_informations_path , :id => 'back-btn'%>
</div>
