<h1>Editing Conection Information</h1>

<%= render 'form', conection_information: @conection_information %>

<%= link_to 'Show', @conection_information %> |
<%= link_to 'Back', conection_informations_path %>
